.NuevoPage {
    display: flex; /* Utiliza flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.FormContainer {
    background-color: #B3B8CA; /* Color de fondo del formulario */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 500px; /* Ancho máximo */
    width: 100%; /* Ancho completo del contenedor padre */
}

.guar {
    background-color: #1A2B61; /* Color de fondo del botón Guardar */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s ease; /* Efecto de transición en el color de fondo */
} 

.guar:hover {
    background-color: #45a049; /* Color de fondo al pasar el ratón */
}

.lim {
    background-color: #1A2B61; /* Color de fondo del botón Limpiar */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    margin-left: 10px; /* Espaciado a la izquierda */
    transition: background-color 0.3s ease; /* Efecto de transición en el color de fondo */
}

.lim:hover {
    background-color: #d32f2f; /* Color de fondo al pasar el ratón */
}
