.NueprPage {
    display: flex; /* Usa flexbox para el diseño */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.FormContainer {
    background-color: #B3B8CA; /* Color de fondo del contenedor del formulario */
    padding: 20px; /* Espaciado interno del contenedor */
    border-radius: 10px; /* Esquinas redondeadas */
    max-width: 500px; /* Ancho máximo del contenedor */
    width: 100%; /* Ancho completo en pantallas pequeñas */
}

.agre {
    background-color: #1A2B61; /* Color de fondo del botón de agregar */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
} 

.agre:hover {
    background-color: #45a049; /* Color de fondo al pasar el mouse sobre el botón */
}

.regr {
    background-color: #1A2B61; /* Color de fondo del botón de regresar */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-left: 10px; /* Espacio a la izquierda del botón */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.regr:hover {
    background-color: #d32f2f; /* Color de fondo al pasar el mouse sobre el botón */
}
