.nave {
  background-color: #1A2B61;
  padding: 1rem;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.leftNav {
  display: flex;
  gap: 1rem; 
}

.rightNav {
  display: flex;
  gap: 1rem; 
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #007bff;
}

.logo-container {
  padding-left: 1rem;
}

.logo-image {
  max-width: 150px; 
}
