.card-container {
    display: flex;
    gap: 1rem; /* Espacio entre los cards */
    justify-content: center; /* Centra los cards horizontalmente */
    flex-wrap: wrap; /* Permite que los cards se muevan a la siguiente línea si el espacio es insuficiente */
  }
  
  .card {
    width: 18rem; /* Ancho fijo para los cards */
  }
  
  .ver {
    background-color: #1A2B61;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 

.ver:hover {
    background-color: #B3B8CA;
}
