.card-container {
  display: flex; /* Usamos flexbox para alinear los cards */
  gap: 1rem; /* Espacio entre los cards */
  justify-content: center; /* Centra los cards horizontalmente */
  flex-wrap: wrap; /* Permite que los cards se muevan a la siguiente línea si el espacio es insuficiente */
}

.card {
  width: 18rem; /* Ancho fijo para los cards, para mantener consistencia en el diseño */
}

.ver {
  background-color: #1A2B61; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Eliminamos cualquier borde predeterminado */
  padding: 10px 20px; /* Espaciado interno para hacer el botón más grande y clicable */
  border-radius: 5px; /* Bordes redondeados para un estilo más suave */
  cursor: pointer; /* Cambiamos el cursor a pointer para indicar que es un botón clicable */
  transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
} 

.ver:hover {
  background-color: #B3B8CA; /* Color de fondo cuando el usuario pasa el cursor sobre el botón */
}
