.App {
  text-align: center;
  padding: 0px;
  font-weight: bold;
  font-size: 30px;
}

.header-image {
  width: 100%; /* Este es el ancho del contenedor */
  max-width: 1400px; /* Este es el ancho maximo de esta imagen para que acomplete la parte superior */
  height: auto; /* Mantiene la proporción de la imagen */
}

.logo-image {
  width: 300px; /* Fija el ancho de la imagen del logo */
  height: auto; /* Mantiene la proporción de la imagen */
}